@import '../../styles/helpers';

.login {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__text {
      line-height: 19px;
      color: #fe9519;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }

    &__image {
      margin-right: 10px;
    }

    &__text-mob {
      font-size: 15px;
      line-height: 18px;
      color: #6f6f6f;
    }
  }
