<template>
    <div class="login" @click="$emit('open-login')">
        <div class="login__image">
            <img
                :src="getStaticUrl('user-mobile.svg')"
                alt=""
                class="login__img"
            />
        </div>
        <p class="login__text-mob">Личный кабинет</p>
    </div>
</template>

<script>
export default {};
</script>

<style src="./account-ico.less" lang="less"></style>
