<template>
    <div class="modal">
        <div class="modal__body">
            <div class="modal__content">
                <div class="modal__close" @click="$emit('close')">
                    <img alt="" :src="getStaticUrl('popup.svg')" />
                </div>
                <slot />
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style src="./modal.less" lang="less"></style>
