@import '../../styles/helpers';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 40;
    overflow-y: auto;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    &__content {
        position: relative;
        background: #fff;
        color: #000;
        max-width: 1018px;
        border-radius: 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        overflow: hidden;
    }

    &__close {
        position: absolute;
        right: 25px;
        top: 25px;
        transition: all 200ms ease;
        overflow: hidden;
        z-index: 5;
        border-radius: 50%;
        background: #fff;

        @media @mobile-mid {
            right: 15px;
            top: 15px;
            img {
                max-width: 20px;
            }
        }

        &:hover {
            transform: scale(0.85);
        }
    }
}
