@import '../../styles/helpers';

.button {
    box-sizing: border-box;
    font-weight: 600;
    border-radius: 50px;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    transition: all 200ms ease;
    background: transparent;

    @media (max-width: 460px) {
        font-size: 15px;
        padding: 10px 0;
    }

    &_background {

    &_main {
        background: linear-gradient(266.29deg, #ff861c -8.89%, #ff9f2e 106.46%);
    }

    &_mod {
        background: #fff3ec;
    }

    &_gradient {
        background: linear-gradient(266.67deg, rgba(0, 148, 255, 0.58) 0%, rgba(0, 194, 255, 0.567708) 50.52%, #00FF66 100%);
    }

  }

  &_color {

    &_transparent {
      background-color: transparent;
      color: white;
    }

    &_orange {
        color: #fe9519;
    }

  }

  &_has-border {
      &_orange {
        border: 1px solid rgba(255, 134, 28, 0.5);
      }
  }

  &_radius {
      &_test {
          border-radius: 12px;
      }
  }
}

.button.button_hover_main:hover {
    background: linear-gradient(266.29deg, #de6f0e -6.49%, #f38a0e 106.46%);
}

.button.button_hover_mod:hover {
    color: #fff;
    background: linear-gradient(266.29deg, #ff861c -8.89%, #ff9f2e 106.46%);
}
