<template>
    <button
        :class="
            bem('button', { color, size, hasBorder, radius, background, hover })
        "
        v-bind="params"
    >
        <slot />
    </button>
</template>

<script>
export default {
    props: {
        hover: {
            type: String
        },
        color: {
            type: String,
            default: "transparent"
        },
        background: {
            type: String,
            default: "transparent"
        },
        radius: {
            type: String,
            default: "transparent"
        },
        size: {
            type: String,
            default: "medium"
        },
        hasBorder: {
            type: Boolean,
            default: false
        },
        href: {
            type: [Object, String],
            default: null
        },
        type: {
            type: String,
            default: "button"
        }
    },
    computed: {
        params() {
            if (this.href !== null && typeof this.href === "object") {
                return {
                    is: "router-link",
                    to: this.href
                };
            }
            if (typeof this.href === "string") {
                return {
                    is: "a",
                    href: this.href,
                    target: "_blank"
                };
            }

            return {
                is: "button",
                type: this.type
            };
        }
    }
};
</script>

<style src="./button.less" lang="less" />
