@import '../../styles/helpers';

.you-get {
    background: #fcf7f4;
    border-radius: 25px 25px 0px 0px;
    max-width: 1600px;
    margin: 0 auto;

    &__body {
      margin-top: 45px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 28px;
      grid-row-gap: 30px;

      @media @tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @media @mobile {
        grid-template-columns: repeat(1, 1fr);
      }

      @media @mobile-mid {
        grid-row-gap: 10px;
      }
    }

    &__top {
      padding-top: 100px;
      display: flex;
      justify-content: space-between;

      @media @tablet {
        flex-direction: column;
        align-items: center;
      }

      @media @mobile-mid {
        padding-top: 30px;
        align-items: flex-start;
      }
    }

    &__top-left {
      max-width: 355px;

      @media @tablet {
        text-align: center;
      }

      @media @mobile-mid {
        max-width: 100%;
        text-align: left;
      }
    }

    &__title-top {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: #fe9519;

      @media @mobile-mid {
        font-size: 10px;
      }
    }

    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 44px;
      line-height: 125%;

      @media @mobile-mid {
        font-size: 25px;
      }
    }

    &__top-right {
      max-width: 665px;
      align-self: flex-end;
      margin-left: 15px;

      @media @tablet {
        margin-left: 0;
        align-self: center;
      }

      @media @mobile-mid {
        align-self: flex-start;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;

      @media @tablet {
        text-align: center;
        margin-top: 15px;
      }

      @media @mobile-mid {
        text-align: left;
        font-size: 15px;
      }
    }

    &__card {
        padding: 30px 40px;
        border-radius: 25px;
        background: #fff;
        transition: all 0.4s ease;

        @media @tablet {
            text-align: center;
        }

        @media @mobile-mid {
            padding: 22px 25px;
            text-align: left;
        }

        &:hover {
            box-shadow: 0px 0px 30px rgba(31, 14, 3, 0.08);
        }
    }

    &__card-img {
        margin: 0 0 25px 0;

        @media @mobile-mid {
            margin-bottom: 10px;
        }
    }

    &__card-img-ico {
        @media @mobile-mid {
            min-width: 45px;
            max-height: 45px;
        }
    }

    &__card-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 15px;

        @media @mobile-mid {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }

    &__card-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #6f6f6f;

        @media @mobile-mid {
            font-size: 15px;
        }
    }

    &__card-before {
        @media @mobile-mid {
            background: none;
            padding: 22px 0;

            &:hover {
              box-shadow: none;
            }
        }
    }

    &__card-title-mod {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        max-width: 301px;
        margin-top: 60px;

        @media @tablet {
          text-align: center;
          max-width: 100%;
        }

        @media @mobile-mid {
          font-size: 18px;
          text-align: left;
          max-width: 200px;
          margin-top: 0;
        }
    }

    &__card-button-main {
        font-family: "Raleway";
        margin-top: 32px;

        @media @mobile-mid {
            margin-top: 20px;
        }
    }

    &__card-button-two {
        margin-top: 27px;

        @media @tablet {
            margin-bottom: 30px;
        }

        @media @mobile-mid {
            margin-top: 18px;
            margin-bottom: 0px;
        }
    }
  }
