<template>
  <div class="you-get page__section_3">
    <div class="you-get__container container">
      <div class="you-get__top">
        <div class="you-get__top-left">
          <p class="you-get__title-top">Измените свое тело</p>
          <p class="you-get__title">Что вы получите</p>
        </div>
        <div class="you-get__top-right">
          <p class="you-get__text">
            В первую очередь, избавитесь от лишнего веса с сохранением
            результата! <br />
            Я со своими помощниками, доведем ваше тело до желаемого
          </p>
        </div>
      </div>
      <div class="you-get__body">
        <div class="you-get__card" v-for="(card, index) in cards" :key="index">
          <div class="you-get__card-img">
            <img
              :src="getStaticUrl(`/ico-you-get/${card.ico}.svg`)"
              alt="иконка"
              class="you-get__card-img-ico"
            />
          </div>
          <p class="you-get__card-title">{{ card.name }}</p>
          <p class="you-get__card-text">{{ card.text }}</p>
        </div>
        <div class="you-get__card you-get__card-before">
          <p class="you-get__card-title-mod">
            Начни изменять свое тело, ведь это “МЕЧТА”
          </p>
          <div
            class="you-get__card-button-main"
            @click="openMessage"
            onclick="jivo_api.open();"
          >
            <button-block :background="'main'" :hover="'main'">
              Начать изменять свое тело
            </button-block>
          </div>
          <div class="you-get__card-button-two" @click="openMessage">
            <button-block
              :color="'orange'"
              :background="'mod'"
              :hover="'mod'"
              onclick="jivo_api.open();"
            >
              Получить консультацию
            </button-block>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        {
          ico: "stroinost",
          name: "Перманентную стройность",
          text: "Уже в первую неделю вы получите первые результаты! Усвоите методику и измените свою жизнь, вместе с телом",
        },
        {
          ico: "pitanie",
          name: "Индивидуальное питание",
          text: "Составленное лично для вас! С учетом ваших предпочтений и обучение делать в дальнейшем это самостоятельно",
        },
        {
          ico: "workout",
          name: "Персональные тренировки",
          text: "Составим индивидуальный план тренировок с учетом ваших возможностей!",
        },
        {
          ico: "psychology",
          name: "Направленную психологию",
          text: "Вы измените отношение к еде и выстроите свой индивидуальный план питания, необходимый вашему организму",
        },
        {
          ico: "curator",
          name: "Личного куратора",
          text: "Во время марафона вам будет помогать личный куратор и отвечать на все ваши вопросы! Поддерживать и мотивировать не сдаваться, до достижения результата!",
        },
      ],
    };
  },
  methods: {
    openMessage() {
      this.$emit("open-message", true);
    },
  },
};
</script>

<style src="./you-get.less" lang="less"></style>
