@import '../../styles/helpers';

.about {
    margin-top: 54px;

    @media @mobile {
      margin-top: 45px;
    }

    &__table-text {
      display: none;

      @media @tablet {
        display: block;
        max-width: 100%;
      }

      @media @mobile-mid {
        align-self: flex-start;
      }

    }

    &__body-text {

      @media @tablet {
        display: none;
      }

    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media @tablet {
        flex-direction: column;
      }
    }

    &__preview-img {
      max-width: 100%;
    }

    &__body {
      flex: 0 1 50%;
      margin-left: 10px;
    }

    &__title-top {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: #fe9519;
      margin-bottom: 8px;

      @media @mobile-mid  {
        font-size: 10px;
      }
    }

    &__title {
      color: #221804;
      font-weight: 500;
      font-size: 44px;
      line-height: 125%;
      margin-bottom: 30px;

      @media @mobile-mid {
        font-size: 25px;
        margin-bottom: 5px;
      }
    }

    &__text {
      max-width: 610px;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;
      margin-bottom: 39px;

      @media @mobile-mid {
        font-weight: 500;
        font-size: 15px;
        line-height: 160%;
      }

      @media @tablet {
        margin-top: 15px;
      }

      p {
        margin-bottom: 20px;

        &:last-child {
          margin: 0;
        }

      }
    }

    &__items {
      max-width: 624px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 480px) {
        flex-wrap: wrap;
      }
    }

    &__item {
      @media (max-width: 480px) {
        flex: 0 1 50%;
        margin-bottom: 15px;
      }
    }

    &__item-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      text-align: left;

      @media @mobile-mid {
        font-size: 18px;
      }
    }

    &__item-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;
      text-align: left;

      @media @mobile-mid {
        font-size: 15px;
      }
    }
    &__title-mod {

      @media @tablet {
        font-size: 36px;
        margin-bottom: 10px;
      }

    }
  }
