<template>
    <div class="about page__section_1">
        <div class="about__container container">
            <div class="about__table-text">
                <p class="about__title-top">Автор и ведущая марафона</p>
                <p class="about__title">На связи в любое время!</p>
            </div>
            <div class="about__preview">
                <img
                    :src="getStaticUrl('girl-about.png')"
                    alt=""
                    class="about__preview-img"
                />
            </div>
            <div class="about__body">
                <div class="about__body-text">
                    <p class="about__title-top">Автор и ведущая марафона</p>
                    <p class="about__title about__title-mod">
                        На связи в любое время!
                    </p>
                </div>
                <div class="about__text">
                    <p>
                        Часто приходят девушки с проблемой похудения. В 95%
                        случаев проблема заключается в психологии мышления,
                        поведения и питания. Как правило, существующие программы
                        если и работают, то временно. Часто они построены на
                        применении силы воли. Но это не стабильно.
                    </p>
                    <p>
                        Важно на уровне бессознательного изменить свое отношение
                        к правильному питанию, чтобы не приходилось себя
                        заставлять, а все приносило огромную радость и
                        удовольствие. Именно этим и займемся на марафоне:
                        измененим мышления, в первую очередью - правильное
                        питание (вы сами себе составляете рацион, учитесь
                        чувствовать, что вам надо).
                    </p>
                </div>
                <div class="about__items">
                    <div class="about__item">
                        <p class="about__item-title">50 761</p>
                        <p class="about__item-text">
                            участниц <br />
                            снизили вес
                        </p>
                    </div>
                    <div class="about__item">
                        <p class="about__item-title">>6</p>
                        <p class="about__item-text">
                            лет успешного <br />
                            опыта работы
                        </p>
                    </div>
                    <div class="about__item">
                        <p class="about__item-title">Кстати!</p>
                        <p class="about__item-text">
                            я психотерапевт <br />
                            и диетолог
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {};
    }
};
</script>

<style src="./about.less" lang="less"></style>
