<template>
  <div class="message">
    <div class="message__items">
      <div
        class="message__close"
        v-if="path == '/choice' || open"
        @click="messageClose"
      >
        X
      </div>
      <div
        class="message__call call"
        v-if="path == '/call' && !open"
        @click="path = '/choice'"
      >
        <p class="call__title">записаться!</p>
        <div class="call__image"></div>
      </div>
      <div class="message__choice choice" v-if="path == '/choice' || open">
        <p class="choice__title">
          Как Вам удобнее? <br />
          <br />
          После перехода, <br />
          напишите "ХОЧУ"
        </p>
        <a href="https://wa.me/79054659269"
          ><div class="choice__whatsapp"></div
        ></a>
        <a href="viber://chat?number=%2B79054659269"
          ><div class="choice__viber"></div
        ></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      path: "/call",
      lastScroll: null,
    };
  },
  props: {
    open: false,
  },
  methods: {
    scrollPosition() {
      let result = window.pageYOffset;
      return result;
    },
    messageClose() {
      this.path = "/call";
      this.$emit("default-message", false);
    },
  },
};
</script>

<style src="./message.less" lang="less"></style>
