@import '../../styles/helpers';

.message {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;

    @media @mobile {
        right: 20px;
        bottom: 10px;
    }
    &__items {
        position: relative;
    }
    &__close {
        position: absolute;
        right: -25px;
        top: 0;
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media @mobile {
            top: -25px;
            right: 0;
        }
    }
}

.call {
    cursor: pointer;
    animation: message 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 200ms ease;

    @media @mobile {
        animation: messagemob 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &:hover {
        animation: none;

        .call__title {
            color: #fe9519;
        }
    }

    &__image {
        .img("message.svg");
        .contain;
        width: 120px;
        height: 100px;

        @media @mobile {
            width: 70px;
            height: 70px;
        }
    }

    &__title {
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: -5px;
        transition: all 200ms ease;

        @media @mobile {
            font-size: 10px;
            margin-bottom: -9px;
        }
    }
}

@keyframes message {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-20px) scale(1.05) rotate(5deg); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes messagemob {
    0%   { transform: translateY(0); }
    30%  { transform:  scale(0.9) }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fcf7f4;
    border-radius: 26px;
    padding: 30px 25px;
    width: 170px;
    border: 2px solid #fe931967;

    @media @mobile {
        padding: 15px 5px;
        width: 150px;
    }


    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: rgb(68, 68, 68);
        margin-bottom: 34px;
        text-transform: uppercase;
        white-space: nowrap;

        @media @mobile {
            font-size: 12px;
            margin-bottom: 20px;
        }

    }

    &__whatsapp {
        position: relative;
        .img("whatsapp.png");
        .contain;
        width: 90px;
        height: 90px;
        margin-bottom: 11px;
        border-radius: 50%;
        transition: all 200ms ease;

        &:hover {
            transform: scale(0.95)
        }

        @media @mobile {
            width: 60px;
            height: 60px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translate(0, -50%);
            width: 20px;
            height: 15px;
            .img("message-arrow.svg");
            .contain;
            animation: messagearrow 1s infinite;
        }
    }

    &__viber {
        position: relative;
        .img("viber.png");
        .contain;
        width: 90px;
        height: 90px;
        transition: all 200ms ease;
        border-radius: 50%;

        &:hover {
            transform: scale(0.95)
        }

        @media @mobile {
            width: 60px;
            height: 60px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translate(0, -50%);
            width: 20px;
            height: 15px;
            .img("message-arrow.svg");
            .contain;
            animation: messagearrow2 1s infinite;
        }
    }
}


.fade-enter-active {
    transition: all .2s;
}
.fade-enter /* .fade-leave-active до версии 2.1.8 */ {
    transform: translate(100%);
}


@keyframes messagearrow {
    0%   { transform: translate(0, -50%); }
    50%  { transform: translate(-5px, -50%); }
    100% { transform: translate(0, -50%); }
}
@keyframes messagearrow2 {
    0%   { transform: translate(-5px, -50%); }
    50%  { transform: translate(0, -50%); }
    100% { transform: translate(-5px, -50%); }
}
