@import '../../styles/helpers';

.test {
    &__open {
        padding-top: 50px;
    }
    &__title {
        position: relative;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 25px;
        line-height: 22px;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: black;
            margin-top: 10px;
            opacity: 0.2;
        }
    }
    &__text {
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__question-value {
        color: #fe9519;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__completed {
        padding:  10px 0 0 0 ;
        width: 100%;
        display: flex;
    }

    &__completed-sircle {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 30px;
        width: 78px;
        height: 78px;
        border-radius: 50%;
        transition: all 150ms ease;

        &_red {
            background: #ff0000;
            animation: redanimation 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
        &_green {
            background: #218d00;
            animation: greenanimation 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
        &_blue {
            background: #001aff;
            animation: blueanimation 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }

    &__completed-result {
        position: relative;
        max-width: 400px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background: rgba(255, 134, 28, 0.37);
            bottom: -10px;
            left: 0;
        }
    }
    &__completed-text {
        max-width: 400px;
        &_p {
            margin-bottom: 15px;
            letter-spacing: 1px;
            line-height: 19px;
        }
    }


    &__progress-wrapper {
        margin: 35px 0 25px 0;
    }
    &__progress-text {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__progress {
        width: 100%;
        text-align: center;
        background-color: #e43333;
        border: 0;
        height: 20px;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 5px;
        &::-webkit-progress-value {
            background: #fe9519;
        }
        &::-webkit-progress-bar {
            background: #FFF3EC;
        }
    }


    &__content {
        padding: 22px 30px;
        position: relative;

        @media @mobile-mid {
            padding: 22px 15px;
        }

    }

    &__test {
        width: 400px;

        @media @mobile-mid {
            width: 100%;
        }
    }

    &__preview-title {
        margin: 45px 0;
        font-weight: 600;
        font-size: 26px;
        text-align: center;
        line-height: 120%;
        color: #221804;

        @media @mobile {
            margin: 45px 0 25px 0;
            font-size: 22px;
        }

        @media @mobile-mid {
            margin: 20px 0 25px 0;
            br {
                display: none;
            }
        }
    }

    &__preview-text {
        text-align: center;
        max-width: 500px;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 25px;

        @media @mobile {
            margin-bottom: 15px;
            font-size: 16px;
            br {
                display: none;
            }
        }
    }

    &__preview-count {
        color: #fe9519;
        font-weight: 600;
        text-align: center;
        margin-bottom: 15px;
    }

    &__preview-buttons {
        max-width: 400px;
        margin: 0 auto;

        @media @mobile {
            max-width: 180px;
        }
    }

    &__images {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

        @media @mobile {
            margin-bottom: 15px;
        }
    }

    &__img {
        max-width: 100%;
        overflow: hidden;
        outline: 3px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 15px;
    }

    &__question {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        margin: 0 auto 22px auto;
    }

    &__options {
        margin-bottom: 33px;

        @media @mobile {
            padding: 0;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        background: #FFF3EC;
        border: 1px solid rgba(255, 134, 28, 0.37);
        box-sizing: border-box;
        border-radius: 15px;
        padding: 18px 5px 18px 20px;
        text-align: left;
        transition: all 200ms ease;
        margin-bottom: 10px;
        cursor: pointer;

        &.is-selected {
            border: 1px solid #fff;
            background: #FEBF9A;
            color: #FFFFFF;
          }
    }

    &__option-text {
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0.13em;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }
    &__btn-item {
        width: 100%;
        max-width: 180px;
        height: 36px;
    }
    &__btn {
        display: block;
        flex-shrink: 0;
        height: 36px;
        font-size: 16px;
        font-weight: 600;
        line-height: 36px;
        cursor: pointer;
        text-align: center;
        border-radius: 15px;
        background: rgb(247, 247, 247);
        border: 1px solid #fff1e9;
        width: 100%;


        &_next {
            border: none;
            background-size: 300% 100%;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background-image: linear-gradient(266.67deg, rgba(0, 148, 255, 0.58) 0%, rgba(0, 194, 255, 0.567708) 50.52%, #00FF66 100%);

            &:hover {
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;

            }
        }
    }
    &__button-result {

    }
    &__btn-result {
        display: block;
        text-align: center;
        padding: 15px 0;
        border-radius: 15px;
        background: #FFF3EC;
        border: 1px solid rgba(255, 134, 28, 0.37);
    }
}

.fade-enter-active {
    transition: opacity .5s;
  }
.fade-enter /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}



.fade-btn-enter-active, .fade-btn-leave-active {
    transition: opacity 200ms;
  }
  .fade-btn-enter, .fade-btn-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

.fa {
    width: 30px;
    height: 30px;
    background: red;
}
.fa-lg {
    width: 30px;
    height: 30px;
    background: green;
}


@keyframes redanimation {
    0% {
        box-shadow: 0px 0px 30px 0px rgba(0, 244, 255, 0);
    }
    50% {
        box-shadow: 0px 0px 30px 5px rgba(255, 0, 0, 0.6);
    }
    100% {
        box-shadow: 0px 0px 30px 0px rgba(0, 244, 255, 0);
    }
}

@keyframes greenanimation {
    0% {
        box-shadow: 0px 0px 30px 0px rgba(0, 244, 255, 0);
    }
    50% {
        box-shadow: 0px 0px 30px 5px rgb(36, 124, 2);
    }
    100% {
        box-shadow: 0px 0px 20px 0px rgba(0, 244, 255, 0);
    }
}

@keyframes blueanimation {
    0% {
        box-shadow: 0px 0px 20px 0px rgba(0, 247, 255, 0);
    }
    50% {
        box-shadow: 0px 0px 30px 5px rgb(17, 0, 255);
    }
    100% {
        box-shadow: 0px 0px 20px 0px rgba(0, 255, 242, 0);
    }
}
