<template>
  <div class="test">
    <div class="test__content">
      <div class="test__open" v-if="path == '/open'">
        <p class="test__title">
          Пройдите тест: <br />
          Каковы ваши шансы <br />
          похудеть?
        </p>
        <p class="test__text">
          Тест, составленный на основе исследования ответов <br />
          200 000 женщин, которые похудели от 2 до более чем <br />
          50 килограммов
        </p>
        <p class="test__question-value">10 вопросов</p>
        <div class="test__open-btn" @click="path = '/test'">
          <button-block :background="'main'">Пройти тест</button-block>
        </div>
      </div>
      <transition name="fade">
        <div class="test__main" v-if="path == '/test'">
          <div
            class="test__test"
            v-if="questionIndex < quiz.questions.length"
            v-bind:key="questionIndex"
          >
            <div class="test__progress-wrapper">
              <p class="test__progress-text">
                Тест: Каковы ваши шансы похудеть?
              </p>
              <div class="progressContainer">
                <progress
                  class="test__progress"
                  :value="(questionIndex / quiz.questions.length) * 100"
                  max="100"
                >
                  {{ (questionIndex / quiz.questions.length) * 100 }}%
                </progress>
              </div>
            </div>

            <h2 class="test__question">
              {{ quiz.questions[questionIndex].text }}
            </h2>

            <div class="test__options">
              <div
                class="test__option"
                v-for="(response, index) in quiz.questions[questionIndex]
                  .responses"
                @click="selectOption(index)"
                :class="{
                  'is-selected': userResponses[questionIndex] == index,
                }"
                :key="index"
              >
                {{ index | charIndex }}. {{ response.text }}
              </div>
            </div>

            <div class="test__footer">
              <div
                class="test__buttons"
                role="navigation"
                aria-label="pagination"
              >
                <div class="test__btn-item">
                  <transition name="fade-btn">
                    <a
                      class="test__btn test__btn_next"
                      v-on:click="next()"
                      :disabled="questionIndex >= quiz.questions.length"
                      v-if="userResponses[questionIndex] !== null"
                    >
                      {{ "Далее" }}
                    </a>
                  </transition>
                </div>
              </div>
            </div>
          </div>

          <div
            v-if="questionIndex >= quiz.questions.length"
            v-bind:key="quiz.questions.length"
            class="test__completed"
          >
            <div class="test__completed-1" v-if="score() <= 5">
              <div
                class="test__completed-sircle test__completed-sircle_green"
              ></div>
              <p class="test__completed-result">Результат: Зеленый круг</p>
              <div class="test__completed-text">
                <p class="test__completed-text_p">
                  Ваш результат - Зеленый круг:
                </p>
                <p class="test__completed-text_p">
                  Что это значит? Читайте ниже!
                </p>
                <p class="test__completed-text_p">
                  Поздравляю! У вас максимальные шансы снизить вес!👍
                </p>
                <p class="test__completed-text_p">
                  Хочу похвалить Вас за осознанный подход к своему телу и образу
                  жизни. Подобных вам не так много: умение держать себя в руках
                  и сформированные полезные привычки помогают Вам поддерживать
                  хорошее здоровье и самочувствие. Уверена, Вы сейчас в отличной
                  форме! Если на вашем пути к снижению веса не возникнет
                  внезапных препятствий, то вы с легкостью снизите вес до
                  необходимого. Кажется, что всё просто. 👇 Но есть особые
                  сложности.
                </p>
                <!-- <p class="test__completed-text_p">
                                    Однако я рекомендую вам обратить внимание на
                                    ситуации, в которых ваш вес окажется под
                                    угрозой:
                                </p>
                                <p class="test__completed-text_p">
                                    1. Сильные эмоциональные переживания. Если в
                                    процессе снижения веса у вас произойдет
                                    событие, которое вас сильно взволнует (ссора
                                    с ребенком, любимым, мамой, начальником,
                                    неудача на работе или на учебе), вероятность
                                    срыва велика.
                                </p>
                                <p class="test__completed-text_p">
                                    2. Удержание веса. Тысячи девушек (от 18 до
                                    80 лет) в моей практике рассказывали мне о
                                    том, как они сами снизили вес, но через
                                    неделю, две, месяц, год - вес вернулся. Увы,
                                    это так. Держишь себя в руках какое-то
                                    время, а после дала слабину и вес вернулся.
                                    Иногда еще и с плюсом. На марафоне мы учимся
                                    избавляться от лишнего веса раз и навсегда.
                                    Так, что он не возвращается с годами. Будьте
                                    внимательны к себе.
                                </p>
                                <p class="test__completed-text_p">
                                    Навыки интуитивного питания, а также методы
                                    изменения мышления, я использую при работе с
                                    девушками на марафоне похудения ”МЕЧТА”, на
                                    марафоне худеют без диет, запретов,
                                    изнурительных занятий спортом. Худеют так,
                                    что вес уходит раз и навсегда.
                                </p>
                                <p class="test__completed-text_p">
                                    Тест и его результаты составлены на основе
                                    ответов 100 000 женщин, которые УЖЕ похудели
                                    на моем онлайн-тренинге ”Мечта” 💃
                                </p>
                                <p class="test__completed-text_p">
                                    На тренинге есть небольшое ограничение
                                    возраста: с 18 до 100 лет 😉 Если вам больше
                                    18, то методика гарантированно будет
                                    работать для вас
                                </p> -->
                <p class="test__completed-text_p">
                  Жмите кнопку написать, выберите подходящий мессенджер. <br />
                  Напишите слово "ХОЧУ" и я вышлю Вам результат теста! <br />
                  <br />
                  Также расскажу все подробнее о марафоне)
                </p>
              </div>
              <div class="test__button-result">
                <a
                  @click="openDialog"
                  class="test__btn-result"
                  onclick="jivo_api.open();"
                  >НАПИСАТЬ</a
                >
              </div>
            </div>
            <div class="test__completed-2" v-if="score() > 5 && score() < 10">
              <div
                class="test__completed-sircle test__completed-sircle_blue"
              ></div>
              <p class="test__completed-result">Результат: Синий круг</p>
              <div class="test__completed-text">
                <p class="test__completed-text_p">
                  Вам необходима поддержка специалиста! <br />
                  Синего круга достаточно чтобы начать беспокоится.
                </p>
                <!-- <p class="test__completed-text_p">
                                    Пожалуйста, прочитайте до конца
                                    рекомендации.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 Вам крайне сложно снизить вес
                                    самостоятельно, да Вы и сами это знаете.
                                    Уверена, что вы многое уже пробовали: диеты,
                                    занятие спортом, не исключаю, что
                                    задумывались о таблетках для похудения.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 Но результата нет или он мизерный.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 При этом вас беспокоят плохое настроение,
                                    подавленность, могут беспокоить уже сейчас
                                    или появиться чуть позже заболевания
                                    желудочно-кишечного тракта. Вы можете
                                    изнурять себя диетами и помирать в спортзале
                                    с тем же, близким к нулю эффектом.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 Ваша главная проблема - ”в голове”.
                                    Большинство ваших привычек связаны с
                                    нарушением пищевого поведения и способствуют
                                    набору лишнего веса, негативно сказываются
                                    на самочувствии и здоровье организма. Чтобы
                                    снизить вес и улучшить самочувствие, Вам
                                    очень важно изменить свои привычки.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Тогда Вы сможете снизить вес раз и
                                    навсегда, это будет легко, без диет,
                                    запретов и занятий спортом до седьмого пота.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Именно на работе по изменению мышления и
                                    привычек основана моя методика марафона
                                    похудения. На марафоне похудели с 2015 года
                                    более 100 000 девушек, на основе их
                                    результатов и был составлен этот тест. Без
                                    страдания, боли, диет и запретов вы
                                    наконец-то похудеете и вес больше не
                                    вернется.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Моя методика снижения веса как раз для
                                    вас, Вы сможете научиться:
                                </p>
                                <p class="test__completed-text_p">
                                    + есть только при наличии голода;
                                </p>
                                <p class="test__completed-text_p">
                                    + самостоятельно улучшать свое эмоциональное
                                    состояние;
                                </p>
                                <p class="test__completed-text_p">
                                    + ежедневно выполнять физические упражнения,
                                    подходящие именно для Вас;
                                </p>
                                <p class="test__completed-text_p">
                                    + выработать новые полезные привычки;
                                </p>
                                <p class="test__completed-text_p">
                                    + снизить вес и оздоровить организм.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Все это вы будете делать с удовольствием,
                                    без стресса для организма. Пожалуйста,
                                    будьте внимательны к себе. Тело у вас одно и
                                    второго уже не будет. Кто же о нем
                                    позаботится, если не вы?
                                </p>
                                <p class="test__completed-text_p">
                                    Тест и его результаты составлены на основе
                                    ответов 100 000 женщин, которые УЖЕ похудели
                                    на моем онлайн-тренинге ”МЕЧТА” 💃
                                </p>
                                <p class="test__completed-text_p">
                                    На тренинге есть небольшое ограничение
                                    возраста: с 18 до 100 лет 😉 Если вам больше
                                    18, то методика гарантированно будет
                                    работать для вас.
                                </p> -->
                <p class="test__completed-text_p">
                  Жмите кнопку написать, выберите подходящий мессенджер. <br />
                  Напишите слово "ХОЧУ" и я вышлю Вам результат теста! <br />
                  <br />
                  Также расскажу все подробнее о марафоне)
                </p>
              </div>
              <div class="test__button-result">
                <a
                  @click="openDialog"
                  class="test__btn-result"
                  onclick="jivo_api.open();"
                  >НАПИСАТЬ</a
                >
              </div>
            </div>
            <div class="test__completed-3" v-if="score() > 10">
              <div
                class="test__completed-sircle test__completed-sircle_red"
              ></div>
              <p class="test__completed-result">Результат: Красный круг</p>
              <div class="test__completed-text">
                <p class="test__completed-text_p">
                  Вам необходима поддержка специалиста! <br />
                  Ведь красный круг, это серьезный результат.
                </p>
                <!-- <p class="test__completed-text_p">
                                    Вам необходима поддержка специалиста
                                </p>
                                <p class="test__completed-text_p">
                                    Пожалуйста, прочитайте до конца
                                    рекомендации.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 Вам крайне сложно снизить вес
                                    самостоятельно, да Вы и сами это знаете.
                                    Уверена, что вы многое уже пробовали: диеты,
                                    занятие спортом, не исключаю, что
                                    задумывались о таблетках для похудения.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 Но результата нет или он мизерный.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 При этом вас беспокоят плохое настроение,
                                    подавленность, могут беспокоить уже сейчас
                                    или появиться чуть позже заболевания
                                    желудочно-кишечного тракта. Вы можете
                                    изнурять себя диетами и помирать в спортзале
                                    с тем же, близким к нулю эффектом.
                                </p>
                                <p class="test__completed-text_p">
                                    📌 Ваша главная проблема - ”в голове”.
                                    Большинство ваших привычек связаны с
                                    нарушением пищевого поведения и способствуют
                                    набору лишнего веса, негативно сказываются
                                    на самочувствии и здоровье организма. Чтобы
                                    снизить вес и улучшить самочувствие, Вам
                                    очень важно изменить свои привычки.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Тогда Вы сможете снизить вес раз и
                                    навсегда, это будет легко, без диет,
                                    запретов и занятий спортом до седьмого пота.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Именно на работе по изменению мышления и
                                    привычек основана моя методика марафона
                                    похудения. На марафоне похудели с 2015 года
                                    более 100 000 девушек, на основе их
                                    результатов и был составлен этот тест. Без
                                    страдания, боли, диет и запретов вы
                                    наконец-то похудеете и вес больше не
                                    вернется.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Моя методика снижения веса как раз для
                                    вас, Вы сможете научиться:
                                </p>
                                <p class="test__completed-text_p">
                                    + есть только при наличии голода;
                                </p>
                                <p class="test__completed-text_p">
                                    + самостоятельно улучшать свое эмоциональное
                                    состояние;
                                </p>
                                <p class="test__completed-text_p">
                                    + ежедневно выполнять физические упражнения,
                                    подходящие именно для Вас;
                                </p>
                                <p class="test__completed-text_p">
                                    + выработать новые полезные привычки;
                                </p>
                                <p class="test__completed-text_p">
                                    + снизить вес и оздоровить организм.
                                </p>
                                <p class="test__completed-text_p">
                                    ✅ Все это вы будете делать с удовольствием,
                                    без стресса для организма. Пожалуйста,
                                    будьте внимательны к себе. Тело у вас одно и
                                    второго уже не будет. Кто же о нем
                                    позаботится, если не вы?
                                </p>
                                <p class="test__completed-text_p">
                                    Тест и его результаты составлены на основе
                                    ответов 100 000 женщин, которые УЖЕ похудели
                                    на моем онлайн-тренинге ”МЕЧТА” 💃
                                </p>
                                <p class="test__completed-text_p">
                                    На тренинге есть небольшое ограничение
                                    возраста: с 18 до 100 лет 😉 Если вам больше
                                    18, то методика гарантированно будет
                                    работать для вас.
                                </p> -->
                <p class="test__completed-text_p">
                  Жмите кнопку написать, выберите подходящий мессенджер. <br />
                  Напишите слово "ХОЧУ" и я вышлю Вам результат теста! <br />
                  <br />
                  Также расскажу все подробнее о марафоне)
                </p>
              </div>
              <div class="test__button-result">
                <a
                  @click="openDialog"
                  class="test__btn-result"
                  onclick="jivo_api.open();"
                  >НАПИСАТЬ</a
                >
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import quiz from "./quiz.js";

export default {
  data() {
    return {
      value: null,
      realValue: null,
      quiz: quiz.quiz,
      questionIndex: 0,
      userResponses: quiz.userResponseSkelaton,
      isActive: false,
      path: "/open",
      finish: false,
      resultTest: 0,
    };
  },
  filters: {
    charIndex: function (i) {
      return i + 1;
    },
  },
  methods: {
    selectOption(index) {
      Vue.set(this.userResponses, this.questionIndex, index);
      this.realValue =
        this.quiz.questions[this.questionIndex].responses[index].value;
    },
    next() {
      if (this.questionIndex < this.quiz.questions.length) this.questionIndex++;
      this.value += this.realValue;
      this.resultTest = this.value;

      this.resultReset();
    },

    score() {
      return this.resultTest;
    },
    resultReset() {
      if (this.quiz.questions.length == this.questionIndex) {
        this.value = null;
        this.finish = true;
        this.$emit("finish", this.finish);
      }
    },
    openDialog() {
      this.$emit("dialog-open");
      this.resultReset();
    },
  },
};
</script>

<style src="./test.less" lang="less"></style>
