@import '../../styles/helpers';

.page-main {
    position: relative;
}

.test-fade-enter-active {
    transition: all .2s ease;
  }

  .test-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .test-fade-enter, .test-fade-leave-to {
    opacity: 0;
  }

