<template>
  <div class="page-main">
    <header-block @open-login="showModal = true"></header-block>
    <preview @open-test="openTest" @open-message="dialogOpen"></preview>
    <about></about>
    <passes></passes>
    <you-get @open-message="dialogOpen"></you-get>
    <will-not></will-not>
    <reviews></reviews>
    <!-- <price></price> -->
    <appeal @open-message="dialogOpen" @open-test="openTest"></appeal>
    <footer-block></footer-block>
    <transition name="test-fade">
      <modal @close="closeTest" v-if="isShow">
        <test @finish="finishTest" @dialog-open="dialogOpen"></test>
      </modal>
    </transition>
    <!-- <transition name="test-fade">
            <modal v-if="isShowLogin">
                <log-in></log-in>
            </modal>
        </transition> -->
    <!--<message-block
      :open="messageOpen"
      @default-message="messageOpen = false"
    ></message-block>-->
  </div>
</template>

<script>
export default {
  name: "main-page",
  data() {
    return {
      isShowLogin: true,
      isShow: false,
      statusTest: false,
      t: null,
      messageOpen: false,
    };
  },
  methods: {
    dialogOpen() {
      this.isShow = false;
      this.messageOpen = true;
    },
    openTest(e) {
      if (e.type == "click") {
        this.isShow = true;
      }
    },
    finishTest(e) {
      this.statusTest = e;
    },
    closeTest() {
      this.isShow = false;
      document.body.classList.remove("lock");
      clearInterval(this.t);
      if (!this.statusTest) {
        this.testTimeout();
      }
    },
    //testTimeout() {
    //  if (!this.statusTest) {
    //    this.t = setInterval(() => {
    //      this.isShow = true;
    //      document.body.classList.add("lock");
    //    }, 120000);
    //  }
    //},
  },
  //  mounted() {
  //    document.addEventListener("DOMContentLoaded", this.testTimeout);
  //  },
  //  destroyed() {
  //    document.addEventListener("DOMContentLoaded", this.testTimeout);
  //  },
};
</script>

<style src="./page-main.less" lang="less" />
