<template>
  <div class="reviews page__section_4">
    <div class="reviews__container">
      <div class="container">
        <p class="reviews__title-top">Отзывы</p>
        <p class="reviews__title">Наши участницы в восторге!</p>
        <div class="slider">
          <div class="slider__container">
            <button class="slider__prev"></button>
            <button class="slider__next"></button>
            <div class="slider__wrapper">
              <div
                class="slider__slide slide"
                v-for="(review, index) in reviews"
                :key="index"
              >
                <!--<div class="slide__img">
                                    <img
                                        :src="
                                            getStaticUrl(
                                                `/reviews/${review.img}.jpg`
                                            )
                                        "
                                        alt="похудела"
                                    />
                                </div>-->
                <div class="slide__body">
                  <p class="slide__result">
                    {{ review.result }}
                  </p>
                  <div class="slide__rating">
                    <img :src="getStaticUrl('stsrs.svg')" alt="" />
                  </div>
                </div>
                <p class="slide__text">
                  {{ review.text }}
                </p>
                <p class="slide__name">{{ review.name }}</p>
                <p class="slide__link" @click="dataTransferPopup(review)">
                  Читать весь отзыв
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <transition name="modal">
        <modal v-if="showModal" @close="openModal">
          <div class="slide__modal-item">
            <!--<div class="slide__modal-img">
              <img :src="getStaticUrl(`/reviews/${imgPopup}.jpg`)" alt="" />
            </div>-->
            <p class="slide__modal-text">
              {{ textPopup }}
            </p>
          </div></modal
        >
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showModal: false,
      imgPopup: Number,
      textPopup: String,
      reviews: [
        {
          img: 1,
          result: "-45 килограмм",
          text: "Девочки, если вы ещё думаете стоит ли начинать, то определённо стоит. Мой результат за 5 месяцев- 43 кг. Затем ещё за 2 месяца- 12 кг. Стартовый вес 105 кг. Сейчас 50 кг.",
          name: "Диана Романенко",
          fulltext:
            "Девочки, если вы ещё думаете стоит ли начинать, то определённо стоит. Мой результат за 5 месяцев- 43 кг. Затем ещё за 2 месяца- 12 кг. Стартовый вес 105 кг. Сейчас 50 кг. Марафон очень понравился и я продолжаю в нем участвовать. Советую",
        },
        {
          img: 2,
          result: "-17.5 килограмм",
          text: "Мне 35 лет, есть двое деток) Всю жизнь боролась с лишним весом! После вторых родов думала, что уже не смогу постройнеть. Диеты, применяемые ранее, или не приносили результат...",
          name: "Ксения",
          fulltext:
            "Мне 35 лет, есть двое деток) Всю жизнь боролась с лишним весом! После вторых родов думала, что уже не смогу постройнеть. Диеты, применяемые ранее, или не приносили результат (вес не снижался ниже 72 кг) или были срывы… Разобравшись с рационом, убрала продукты с высоким содержанием сахара и пустыми калориями, я за 1.5 месяца снизила вес с 77 кг до 60.5 кг. Сейчас еще в процессе - хочу еще - 5 кг. ",
        },
        {
          img: 3,
          result: "-9 килограмм",
          text: "Хочу поделиться своими успехами в похудении.За 2 месяца -9кг. Без голодовок и диет. Главное очень захотеть и понимать для чего тебе это нужно вообще.",
          name: "Лиана Гончарова",
          fulltext:
            "Хочу поделиться своими успехами в похудении.За 2 месяца -9кг. Без голодовок и диет. Главное очень захотеть и понимать для чего тебе это нужно вообще. Ведущая марафона всегда поддерживает и на связи 24/7. Участие в марафоне принесло мне массу положительных эмоций и результатов. С марафона почувствовала изменения в себе: легкость, энергичность, бодрость. Благодаря марафону я похудела. Мои объемы реально уменьшились (минус 9 см по обхвату бедер, минус 7 см в талии и минус 9 см в бедрах) , что не может не радовать. Я с легкостью вернулась в свой любимый гардероб, еще и, порадовав себя, новыми нарядами. Мое отражение в зеркале меня все больше радует. Моя цель достигнута!",
        },
        {
          img: 4,
          result: "-19 килограмм",
          text: "Хочу поделиться своим достижением 💪😇 слева фото сентябрь 2021. Справа ноябрь 2021. - 10кг 😊 Ещё в процессе 💪 5 кг надо скинуть, а может и больше, как пойдёт 😄 Худею на марафоне",
          name: "Юлия Шульц",
          fulltext:
            "Хочу поделиться своим достижением 💪😇 слева фото сентябрь 2021. Справа ноябрь 2021. - 10кг 😊 Ещё в процессе 💪 5 кг надо скинуть, а может и больше, как пойдёт 😄 Худею на марафоне, участвовать удобно, записалась прямо на сайте",
        },
        {
          img: 5,
          result: "-17 килограмм",
          text: "Всем привет 👋🏻Просто хочу поделиться своим результатом. Рост 160Вес был 80 кг / сейчас 63 кг. Идём дальше 😚💪🏻 Огромное спасибо за такой чудесный марафон.",
          name: "Анжела Губченко",
          fulltext:
            "Всем привет 👋🏻Просто хочу поделиться своим результатом. Рост 160Вес был 80 кг / сейчас 63 кг. Идём дальше 😚💪🏻 Огромное спасибо за такой чудесный марафон. Я стартовала с оптимальным пакетом. До моей цели осталось совсем чуть чуть. Понравился марафон тем что тебя поддерживают подсказывают как правильно двигаться к своей цели и на все вопросы дают грамотные раскрытые ответы. Огромное спасибо за их труд.Огромное спасибо за такой чудесный марафон.",
        },
        {
          img: 6,
          result: "-16 килограмм",
          text: "Результат за месяц. Кушала все, что говорили на марафоне. Домашние тренировки, начиная с малого, увеличивая нагрузку постепенно. Захотелось поделиться своей историей похудения «До»",
          name: "Елена Дорошенко",
          fulltext:
            "Результат за месяц. Кушала все, что говорили на марафоне. Домашние тренировки, начиная с малого, увеличивая нагрузку постепенно. Захотелось поделиться своей историей похудения «До» этой май я была 80 кг «После» я так выгляжу сейчас мой вес на данный момент 63,8 Общий результат -16 кг И это не предел цель моя до 55 кг. Много раз пыталась заняться собой и похудеть, все никак не получалось, наткнулась на рекламу Анастасии и решила попробовать, была не была. А сейчас довольна, живу и наслаждаюсь 🥰🥰🥰",
        },
        {
          img: 7,
          result: "-4.5 килограмм",
          text: "Выкладывала как- то сюда промежуточный вариант . На данный момент 49,500. Меньше не планирую, работаю над качеством тела. Получается за 4,5 месяц сброшено",
          name: "Лариса Демидова",
          fulltext:
            "Выкладывала как- то сюда промежуточный вариант . На данный момент 49,500. Меньше не планирую, работаю над качеством тела. Получается за 4,5 месяц сброшено. Наткнулась на рекламу в интернете. Хотите быстро похудеть? Пишите, в итоге написала и тут началось. Просто забросали начальной информацией, она красиво оформлена, доступным языком и её очень много. Весь вечер я изучала материалы, если было что-то непонятно, спрашивала, всё рассказывали и объясняли, это огромный плюс, когда только начинаешь свой путь к похудению. Далее до старта прислала ознакомительную запись. Почти 24 часа отвечают на наши вопросы, проверяет наши результаты, пинает и мотивирует тех, кто начинает сдаваться. Мне очень нравится марафон и я с ним досихпор.",
        },
        {
          img: 8,
          result: "-10 килограмм",
          text: "Я решила заняться собой! Очень хотелось выглядеть просто отменно, моя мечта. Моя знакомая предложила мне попробовать этот марафон, сказала, что сама с его помощью сбросила лишний вес. Поскольку средство реальное, я..",
          name: "Марина",
          fulltext:
            "Рост 156, на фото 'до' примерно 59-60, 'после' 52. Когда ребенку исполнилось 9 месяцев, я решила приводить себя в форму. Медленно, но я топила именно жир и сохраняла мышцы на марафоне. Теперь вешу меньше, чем в самые лучшие свои годы) Муж со мной за компанию скинул 15 кг за 2 месяца. На время похудения мы исключили как указали. Сейчас я все еще на гв, спорт не повлиял на выработку молока. Если моя история будет для кого-то полезной, мне будет очень приятно!) Учавствуйте!",
        },
      ],
    };
  },
  methods: {
    dataTransferPopup(review) {
      this.imgPopup = review.img;
      this.textPopup = review.text;
      this.openModal();
    },
    openModal() {
      this.showModal = !this.showModal;

      if (this.showModal == true) {
        document.body.classList.add("lock");
      } else if (this.showModal == false) {
        document.body.classList.remove("lock");
      }
    },
  },
  mounted() {
    const slider = new Swiper(".slider__container", {
      wrapperClass: "slider__wrapper",
      slideClass: "slider__slide",
      slidesPerView: 1,
      slidesPerGroup: 1,
      watchSlidesVisibility: true,
      spaceBetween: 15,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      loop: true,
      breakpoints: {
        480: {
          slidesPerView: 1,
          loop: true,
        },
        690: {
          slidesPerView: 2,
          spaceBetween: 15,
          loop: true,
        },
        1120: {
          slidesPerView: 3,
          spaceBetween: 30,
          loop: true,
        },
      },
      navigation: {
        nextEl: ".slider__next",
        prevEl: ".slider__prev",
      },
    });
  },
};
</script>

<style src="./reviews.less" lang="less"></style>
