@import '../../styles/helpers';

.scroll {
    overflow: hidden;
}

.reviews {
    margin-top: 120px;
    overflow: hidden;
    @media @mobile-mid {
        margin-top: 42px;
    }

    &__title-top {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        color: #fe9519;

        @media @mobile-mid {
            font-size: 10px;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 44px;
        line-height: 125%;

        @media @mobile-mid {
            font-size: 25px;
            line-height: 115%;
        }
    }
}

.slider {
    &__container {
        position: relative;
        max-width: 1485px;
        padding: 30px 14px 5px 14px;
        margin: 0 auto;
    }

    &__next {
        .img("next.svg");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0%;
        top: 30%;
        transform: translate(0, -50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        z-index: 6;
    }

    &__prev {
        .img("prev.svg");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0%;
        top: 30%;
        transform: translate(0, -50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        z-index: 6;
    }
    &__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .swiper-slide-visible {
        opacity: 1;
        pointer-events: auto;
        z-index: 0;
    }

    .swiper-button-disabled {
        display: none;
        z-index: 0;
    }
}

.slide {
    transition: all 0.2s ease;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__img {
        max-width: 407px;
        img {
            max-width: 100%;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__rating {
        img {
            @media @mobile-mid {
                max-width: 106px;
            }
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        max-width: 367px;
        margin: 20px auto 0 auto;
        align-items: center;
        width: 100%;

        @media @mobile-mid {
            margin: 15px auto 0 auto;
            padding: 0 10px;
        }
    }

    &__result {
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        @media @mobile-mid {
            font-size: 18px;
            line-height: 140%;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #6f6f6f;
        max-width: 367px;
        margin: 10px auto 0 auto;
        flex: 1 0 auto;

        @media @mobile-mid {
            font-size: 15px;
            padding: 0 10px;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #6f6f6f;
        max-width: 367px;
        margin: 10px auto 0 auto;
        width: 100%;

        @media @mobile-mid {
            font-size: 15px;
            padding: 0 10px;
        }
    }
    &__link {
        display: block;
        text-align: right;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #fe9519;
        max-width: 367px;
        width: 100%;
        margin: 0 auto;
        opacity: 0;
        transition: all 0.2s ease;
        cursor: pointer;

        @media @mobile-mid {
            opacity: 1;
            font-size: 10px;
            line-height: 130%;
            margin-top: -15px;
            padding-right: 10px;
        }
    }

    &__modal-item {
        display: flex;
    }

    &__modal-img {
        align-self: center;

        @media @tablet {
            display: none;
        }
    }

    &__modal-text {
        padding: 40px 80px 40px 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #6f6f6f;

        @media @tablet {
            font-size: 16px;
        }

        @media @mobile-mid {
            padding: 20px 40px 20px 20px;
        }
    }

    &:hover {
        transform: scale(1.02);
        .slide__link {
            opacity: 1;
        }
    }
}


  .modal-enter-active {
    transition: all .2s ease;
  }

  .modal-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .modal-enter, .modal-leave-to {
    opacity: 0;
  }
