<template>
  <div class="preview">
    <div class="preview__container container">
      <div class="preview__body">
        <p class="preview__title-top">Марафон похудения</p>
        <p class="preview__title">
          Похудей без строгих <br />
          диет и запретов
        </p>
        <p class="preview__discription">
          Решение для тех, кто устал ограничивать себя в еде и рисковать
          здоровьем сомнительными методами снижения веса
        </p>
        <div class="preview__button">
          <div class="preview__btn" @click="openMessage">
            <button-block
              :background="'main'"
              :hover="'main'"
              onclick="jivo_api.open();"
              >Начать худеть</button-block
            >
          </div>
          <p class="preview__start">Старт 21 марта 18:00 МСК</p>
        </div>
        <div class="preview__button-test" @click="emitTest">
          <button-block :background="'main'" :hover="'main'"
            >Пройдите тест: Каковы ваши шансы похудеть?</button-block
          >
        </div>
      </div>
      <div class="preview__decor">
        <div class="preview__decor_back-items parallax">
          <div data-depth="-1" class="preview__decor_back"></div>
        </div>
        <div class="preview__decor_front-items parallax">
          <div class="preview__decor_front" data-depth="1">
            <p class="preview__decor_front-text">
              50 760 участниц снизили вес без диет и запретов!
            </p>
          </div>
        </div>
        <div class="preview__decor_images">
          <img
            :src="getStaticUrl('girl-preview.png')"
            alt="Изображение девушки"
            class="preview__decor_image"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Parallax from "parallax-js";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);

export default {
  name: "Main",

  methods: {
    parallaxElems() {
      const parallaxItems = document.querySelectorAll(".parallax");

      this._parallaxInstances = [];

      for (let i = 0; i < parallaxItems.length; i++) {
        this._parallaxInstances.push(new Parallax(parallaxItems[i]));
      }
    },
    emitTest(e) {
      this.$emit("open-test", e);
    },
    openMessage() {
      this.$emit("open-message", true);
    },
  },

  mounted() {
    this.parallaxElems();
    const scrollTrigger = {
      trigger: ".preview__title-top",
      toggleActions: "restart none none none",
    };

    gsap.timeline({ scrollTrigger }).from(".preview__title-top", {
      y: -5,
      opacity: 0,
      duration: 1,
      delay: 1,
    });
  },

  destroyed() {
    if (this._parallaxInstances) {
      for (const instance of this._parallaxInstances) {
        instance.destroy();
      }
    }
  },
};
</script>

<style src="./preview.less" lang="less"></style>
