@import '../../styles/helpers';


.preview {
    background: #fcf7f4;
    margin-top: 98px;
    overflow: hidden;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media @1190 {
        flex-direction: column;
      }
    }

    &__body {
      @media @1190 {
        margin-top: 35px;
      }

      @media @mobile {
        margin-top: 18px;
      }
    }

    &__title-top {
      font-weight: 600;
      font-size: 18px;
      color: #fe9519;
      margin-bottom: 8px;

      @media @1190 {
        text-align: center;
      }

      @media @mobile-mid {
        text-align: left;
        font-size: 10px;
      }
    }

    &__title {
      color: #221804;
      font-weight: 500;
      font-size: 50px;
      line-height: 115%;
      margin-bottom: 30px;

      @media @1190 {
        text-align: center;
      }

      @media @mobile {
        font-size: 32px;
      }

      @media @mobile-mid {
        font-size: 25px;
        text-align: left;
        margin-bottom: 15px;
      }
    }

    &__discription {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;
      max-width: 470px;
      margin-bottom: 38px;
      @media @1190 {
        text-align: center;
        max-width: 700px;
      }

      @media  @mobile-mid {
        font-size: 15px;
        line-height: 160%;
        text-align: left;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      margin-bottom: 19px;

      @media @1190 {
        justify-content: center;
      }

      @media @mobile-mid {
        flex-direction: column;
      }
    }

    &__btn {
      margin-right: 42px;
      min-width: 219px;

      @media @mobile-mid {
        margin: 0 0 19px 0;
        width: 100%;
      }
    }

    &__start {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;

      @media @mobile-mid {
        font-size: 15px;
        line-height: 160%;
        margin-bottom: 25px;
        align-self: flex-start;
        font-weight: 400;
      }
    }

    &__decor {
        position: relative;

        &_back {
            width: 67.4%;
            height: 11.35%;
            background: #ffffff;
            backdrop-filter: blur(10px);
            border-radius: 25px 25px 0px 25px;
        }

        &_back-items {
            width: 100%;
            height: 100%;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 20%;
        }

        &_front {
            width: 67.4%;
            height: 11.35%;
            background: linear-gradient(
                269.98deg,
                rgba(245, 231, 98, 0.6) -4.83%,
                rgba(254, 149, 25, 0.6) 113.57%
            );
            backdrop-filter: blur(10px);
            border-radius: 0px 25px 25px 25px;
            text-align: center;
        }

        &_front-items {
            z-index: 3;
            position: absolute;
            top: 68%;
            left: 20%;
            width: 100%;
            height: 100%;
        }

        &_front-text {
            font-weight: 500;
            color: #221804;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            @media (max-width: 680px) {
                font-size: 2.3vw;
            }
        }

        &_image {
            position: relative;
            z-index: 1;

            @media @1190 {
                max-width: 100%;
            }
        }

    }
    &__button-test {
        @media @1190 {
            max-width: 500px;
            margin: 0 auto;
        }
        @media @mobile-mid {
            margin-top: -25px;
        }
    }
  }
