@import '../../styles/helpers';

.passes {
    margin-top: 105px;
    overflow: hidden;
    margin-bottom: -35px;

    @media @mobile-mid {
      margin-top: 45px;
    }
    &__container {
      display: flex;
      justify-content: space-between;

      @media @tablet {
        flex-direction: column;
        align-items: center;
      }
    }

    &__title-top {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: #fe9519;
      margin-bottom: 8px;

      @media @mobile-mid {
        font-size: 10px;
      }
    }

    &__title {
      font-weight: 500;
      font-size: 44px;
      line-height: 125%;
      color: #221804;
      margin-bottom: 30px;

      @media (max-width: 1220px) {
        font-size: 38px;
      }

      @media @mobile-mid {
        font-size: 25px;
        margin-bottom: 15px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;
      max-width: 561px;

      @media @mobile-mid {
        font-size: 15px;
      }

      p {
        margin-bottom: 10px;

        &:last-child {
          margin: 0;
        }
      }
    }

    &__image {
      margin-left: 15px;
      z-index: -1;

      @media @tablet {
        margin: 20px 0 0 0;
      }
    }

    &__img {
      max-width: 100%;
    }
  }
