<template>
    <div class="passes page__section_2">
        <div class="passes__container container">
            <div class="passes__body">
                <p class="passes__title-top">Как проходит марафон</p>
                <p class="passes__title">
                    Получайте уроки, <br />
                    делайте домашнее задание,<br />общайтесь и спрашивайте
                </p>
                <div class="passes__text">
                    <p>
                        Каждый день вы будете получать доступ к новому уроку и
                        домашнее задание. Также это постоянное поддерживающее
                        общение с другими участницами, что является очень важным
                        оптимальным способом создать поддерживающее окружение.
                    </p>
                    <p>
                        Ведь наше окружение формирует нас. Рядом будут
                        единомышленники
                    </p>
                </div>
            </div>
            <div class="passes__image">
                <img
                    :src="getStaticUrl('devices.png')"
                    alt=""
                    class="passes__img"
                />
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style src="./passes.less" lang="less"></style>
