<template>
  <div class="price page__section_5">
    <div class="container">
      <p class="price__title-top">Цены</p>
      <p class="price__title">Оптимальные цены с выбором для каждого</p>
    </div>
    <div class="price__container">
      <div class="container">
        <div class="price__packets">
          <div
            class="packet"
            v-for="(servicePackage, index) in servicePackages"
            :key="index"
          >
            <div class="packet__item">
              <div class="packet__price-row">
                <p class="packet__price">
                  {{ servicePackage.price }}
                  <span class="rub">c</span>
                </p>
                <p class="packet__old-price">
                  {{ servicePackage.oldPrice }}
                </p>
              </div>
              <p class="packet__packet">
                {{ servicePackage.pack }}
              </p>
              <ul class="packet__list">
                <p class="packet__enters" v-if="servicePackage.previousPackage">
                  {{ servicePackage.whatIsIncluded }}
                </p>
                <li
                  class="packet__punkt"
                  v-for="(punkt, index) in servicePackage.punkts"
                  :key="index"
                >
                  <img :src="getStaticUrl('gal.svg')" alt="" />
                  <p>{{ punkt.text }}</p>
                </li>
              </ul>

              <button class="packet__btn">Выбрать</button>
              <div class="packet__opti" v-if="servicePackage.popular == true">
                <div class="packet__opti-sircle">
                  <p class="packet__opti-p">
                    Хит <br />
                    продаж
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      servicePackages: [
        {
          price: 500,
          oldPrice: 1000,
          pack: "Классический",
          previousPackage: false,
          popular: false,
          punkts: [
            {
              text: "Доступ в закрытую группу с проверкой домашних заданий",
            },
            {
              text: "Дневник марафона",
            },
            {
              text: "Доступ к онлайн-вебинару с профессиональным психологом и экспертом снижения веса",
            },
            {
              text: "Возможность задать вопрос экспертам",
            },
            {
              text: "Ежедневная поддержка профессионального психолога-куратора",
            },
            {
              text: "Доступ ко всем видеоурокам и материал тренинга навсегда",
            },
          ],
        },
        {
          price: 1000,
          oldPrice: 2000,
          pack: "Оптимальный",
          previousPackage: true,
          whatIsIncluded: "Все что и в пакете Классический +",
          popular: true,
          punkts: [
            {
              text: "Меню и список продуктов на неделю",
            },
            {
              text: "Мастер класс: как перестать заедать ссору и улучшить самочувствие",
            },
            {
              text: "Урок “Принятие своего тела”",
            },
            {
              text: "Индивидуальное доступное меню",
            },
            {
              text: "Связь в любом из мессенджеров",
            },
          ],
        },
        {
          price: 9900,
          oldPrice: 19000,
          pack: "Премиум",
          previousPackage: true,
          popular: false,
          whatIsIncluded: "Все что и в пакете Оптимальный +",
          punkts: [
            {
              text: "Ответы на вопросы от меня в личных сообщениях",
            },
            {
              text: "Разбор с личной обратной связью от ведущей марафона Анастасии",
            },
            {
              text: "Онлайн-коучинг со мной с ежедневным индивидуальным разбором вашей ситуации",
            },
          ],
        },
      ],
    };
  },
};
</script>

<style src="./price.less" lang="less"></style>
