@import '../../styles/helpers';


.price {
    margin-top: 110px;
    overflow: hidden;

    &__title-top {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #fe9519;

        @media @mobile-mid {
            font-size: 10px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 44px;
        line-height: 125%;

        @media @mobile-mid {
            font-size: 25px;
            line-height: 115%;
        }
    }

    &__container {
        margin-top: 55px;
        background: #fe9519;

        @media @mobile-mid {
            margin-top: 15px;
        }
    }

    &__packets {
        padding: 80px 0px;
        display: flex;
        margin: 0 -25px;
        height: 100%;
        justify-content: space-between;

        @media (max-width: 1250px) {
            margin: 0 -15px;
        }

        @media (max-width: 1100px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media @mobile-mid {
            padding: 20px 0;
        }
    }
}
.packet {
    flex: 0 1 33.333%;
    padding: 0 25px;

    @media (max-width: 1250px) {
        padding: 0 15px;
    }

    @media (max-width: 1100px) {
        flex: 0 1 100%;
        margin-bottom: 10px;

        &:last-child {
            margin: 0;
        }
    }

    &__opti {
        position: absolute;
        right: -40px;
        top: -58px;
        width: 114px;
        height: 114px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(25, 130, 254, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 50%;
        overflow: hidden;
        z-index: 5;

        @media (max-width: 1100px) {
            right: 10px;
            top: 10px;
            width: 90px;
            height: 90px;
        }

        @media @mobile-mid {
            right: -10px;
            top: -10px;
        }
    }
    &__opti-p {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 115.4%;
        color: #fff;
        text-align: center;

        @media (max-width: 1100px) {
            font-size: 14px;
        }
    }

    &__opti-sircle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98px;
        height: 98px;
        background: #1982fe;
        border-radius: 50%;
        transition: all 200ms ease;
        animation: hitanimation 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);

        @media (max-width: 1100px) {
            width: 78px;
            height: 78px;
        }
    }

    &__item {
        position: relative;
        background: #fff;
        border-radius: 25px;
        padding: 46px 40px;
        transition: background 200ms ease;
        height: 100%;

        @media (max-width: 1250px) {
            padding: 30px;
        }

        @media @mobile-mid {
            min-height: 592px;
        }
    }

    &__price-row {
        display: flex;
        margin-bottom: 10px;
        align-items: center;

        @media @mobile-mid {
            margin-bottom: 5px;
        }
    }

    &__price {
        font-family: "Raleway";
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        margin-right: 20px;
        @media @mobile-mid {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__old-price {
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        color: #6f6f6f;
        text-decoration-line: line-through;
        transition: all 200ms ease;

        @media @mobile-mid {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__packet {
        font-weight: 500;
        font-size: calc(13px + 16 * (100vw / 1280));
        line-height: 45px;
        margin-bottom: 35px;

        @media @mobile-mid {
            font-size: 25px;
            line-height: 29px;
            margin-bottom: 26px;
        }
    }

    &__enters {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: #6f6f6f;
        margin-bottom: 15px;
        transition: all 200ms ease;

        @media @mobile-mid {
            font-size: 15px;
            line-height: 140%;
        }
    }

    &__list {
        flex: 1 0 auto;
    }

    &__punkt {
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #6f6f6f;
        margin-bottom: 15px;
        transition: all 200ms ease;

        @media @mobile-mid {
            font-size: 15px;
            line-height: 140%;
        }

        img {
            position: relative;
            top: 5px;
            align-self: flex-start;
            margin-right: 15px;

            @media @mobile-mid {
                margin-right: 10px;
                max-width: 15px;
            }
        }
    }

    &__btn {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #fe9519;
        background: #fff3ec;
        border-radius: 98px;
        width: 100%;
        max-width: 90%;
        padding: 20px 0;
        opacity: 0;
        transition: all 200ms ease;
        border: 2px solid;
        visibility: hidden;
        cursor: pointer;

        &:hover {
            background: #ff8800;
            color: #fff;
            border: 2px solid #fff;
        }

        @media @mobile-mid {
            max-width: 60%;
            padding: 11px 0;
        }
    }
}

.packet {
    &__item {
        &:hover {
            outline: 4px solid #ffffff;
            background: #fe9519;
            color: #fff;

            .packet__btn {
                opacity: 1;
                visibility: visible;
            }

            .packet__punkt {
                color: #fff;

                img {
                    filter: brightness(1000%);
                }
            }

            .packet__old-price {
                color: #ffc076;
            }

            .packet__enters {
                color: #fff;
            }
        }
    }
}


@keyframes hitanimation {
    0% {
        box-shadow: 0px 0px 20px 0px rgba(0, 244, 255, 0);
    }
    50% {
        box-shadow: 0px 0px 20px 0px rgba(0, 244, 255, 0.6);
    }
    100% {
        box-shadow: 0px 0px 20px 0px rgba(0, 244, 255, 0);
    }
}
