@import '../../styles/helpers';

.appeal {
    &__container {
      padding: 150px 0;

      @media @mobile {
        padding: 80px 0;
      }

      @media @mobile-mid {
        padding: 48px 0;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media @mobile {
        flex-direction: column;
      }
    }

    &__items {
      max-width: 506px;

      @media @mobile {
        text-align: center;
      }
    }

    &__title {
      font-weight: 500;
      font-size: 44px;
      line-height: 125%;
      margin-bottom: 30px;

      @media @mobile {
        margin-bottom: 20px;
      }
      @media @mobile-mid {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 115%;
        text-align: left;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;

      @media @mobile {
        margin-bottom: 20px;
      }

      @media @mobile-mid {
        font-size: 15px;
        text-align: left;
      }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-shrink: 0;

        @media @tablet {
            align-items: center;
        }
    }
    &__button {
      min-width: 219px;
      margin-bottom: 15px;

      @media @mobile {
        min-width: 350px;
      }

      @media @mobile-mid {
        min-width: 100%;
      }
    }
    &__button-big {
        br {
            display: none;
        }
        @media @tablet {
            br {
                display: block;
            }
        }

        @media @mobile {
            min-width: 350px;
        }

        @media @mobile-mid {
            min-width: 100%;
            margin: 0 10px;
        }
    }
  }
