<template>
  <div class="appeal">
    <div class="appeal__container">
      <div class="container">
        <div class="appeal__row">
          <div class="appeal__items">
            <p class="appeal__title">
              Начинайте худеть дома без диет и запретов
            </p>
            <p class="appeal__text">Ближайший старт 21 марта 18:00 МСК</p>
          </div>
          <div class="appeal__buttons">
            <div class="appeal__button" @click="openMessage">
              <button-block
                :background="'main'"
                :hover="'main'"
                onclick="jivo_api.open();"
              >
                Начать худеть
              </button-block>
            </div>
            <div class="appeal__button-big" @click="emitTest">
              <button-block :background="'main'" :hover="'main'"
                >Пройдите тест: <br />
                Каковы ваши шансы <br />
                похудеть?</button-block
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    openMessage() {
      this.$emit("open-message", true);
    },
    emitTest(e) {
      this.$emit("open-test", e);
    },
  },
};
</script>

<style src="./appeal.less" lang="less"></style>
