@import 'fonts';
@import 'reset';
@import 'helpers';

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    @media @mobile {
        padding: 0 25px;
    }
}
.rub {
  font-family: "rouble";
  font-weight: normal;
}

body.lock {
    overflow: hidden;
}
