@1190: ~'(max-width: 1190px)';
@desktop-only: ~'(min-width: 1024px)';
@tablet: ~'(max-width: 1023px)';
@mobile: ~'(max-width: 767px)';
@mobile-mid: ~'(max-width: 460px)';
@mobile-small: ~'(max-width: 374px)';
