@import '../../styles/helpers';

.footer {
    &__container {
      background: #fcf7f4;
      border-radius: 25px 25px 0px 0px;
      max-width: 1600px;
      margin: 0 auto;
      padding: 97px 0 87px 0;

      @media @tablet {
        padding: 49px 0 57px 0;
      }

      @media @mobile-mid {
        align-self: start;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #6f6f6f;

      @media @mobile-mid {
        flex-direction: column;
      }

    }

    &__left {
      @media (max-width: 620px) {
        max-width: 400px;
      }
    }

    &__agreement {
      color: #6f6f6f;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    &__right {
      @media @mobile-mid {
        align-self: start;
      }
    }

    &__data {
      @media @mobile-mid {
        margin-top: 10px;
      }
    }
  }
