<template>
  <div class="footer">
    <div class="footer__container">
      <div class="container">
        <div class="footer__row">
          <div class="footer__left">
            <router-link class="footer__agreement" to="/policy">
              ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
            </router-link>
            <!--<p class="footer__fio">Анастасия Евгеньевна Д ИНН-458245273495</p>-->
          </div>
          <div class="footer__right">
            <p class="footer__data">2019г.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style src="./footer.less" lang="less"></style>
