@import '../../styles/helpers';

.will-not {
    .img('fon.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    top: -1px;

    &__title-top {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: #fe9519;
      margin-bottom: 8px;

      @media @mobile-mid {
        font-size: 10px;
      }
    }

    &__title {
      font-weight: 500;
      font-size: 44px;
      line-height: 125%;
      margin-bottom: 38px;

      @media @mobile-mid {
        font-size: 25px;
        line-height: 115%;
        margin-bottom: 20px;
      }
    }

    &__container {
      padding-top: 120px;
      padding-bottom: 38px;

      @media @mobile-mid {
        padding-top: 55px;
      }
    }

    &__card {
      display: flex;
      margin: 0 -20px;

      @media @tablet {
        flex-wrap: wrap;
        margin: 0;
      }
    }
  }

  .card {
    padding: 40px;
    margin: 0 15px;
    background: #ffffff;
    border-radius: 25px;
    height: 100%;
    transition: all 0.4s ease;

    @media (min-width: 1024px) {

      &:hover {
        transform: scale(1.05);

        .card__img-ico {
          transform: scale(0.9);
        }
      }
    }

    @media @tablet {
      margin: 0 0 10px 0;
    }

    @media @mobile-mid {
      padding: 25px;
    }

    &:nth-child(2) {
      margin: 40px 15px 0 15px;

      @media (max-width: 1024px) {
        margin: 0 0 10px 0;
      }
    }

    &:nth-child(3) {
      margin: 80px 15px 0 15px;

      @media (max-width: 1024px) {
        margin: 0;
      }
    }
    &__img {
      margin-bottom: 27px;

      @media @mobile-mid {
        margin-bottom: 10px;
      }
    }

    &__img-ico {
      transition: all 0.4s ease;

      @media @mobile-mid {
        width: 25px;
        height: 25px;
      }
    }

    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 13px;

      @media @mobile-mid {
        font-size: 18px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #6f6f6f;

      @media @mobile-mid {
        font-size: 15px;
      }
    }
  }
