<template>
    <div class="will-not">
        <div class="will-not__container container">
            <div class="will-not__body">
                <div class="will-not__top">
                    <p class="will-not__title-top">Никаких жестких правил</p>
                    <p class="will-not__title">
                        Этого точно не будет на марафоне
                    </p>
                </div>
                <div class="will-not__card">
                    <div
                        class="card"
                        v-for="(card, index) in cards"
                        :key="index"
                    >
                        <div class="card__item">
                            <div class="card__img">
                                <img
                                    :src="getStaticUrl('cross.svg')"
                                    alt="ico"
                                    class="card__img-ico"
                                />
                            </div>
                            <p class="card__title">{{ card.name }}</p>
                            <p class="card__text">
                                {{ card.text }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            cards: [
                {
                    name: "Строгих диет",
                    text:
                        "Марафон — не диета. Нам важно научится слышать свое тело, правильно питаться, изменить отношение к самой себе! Диеты вредят здоровью и если приносят результат, то временный"
                },
                {
                    name: "Жесткий правил",
                    text:
                        "Ограничений и жестких правил нет! Участвуйте в любом возрасте. Марафон не только для похудения и для оздаровления организма в целом. Вы сами выстраиваете свой график занятий, как удобно."
                },
                {
                    name: "Банальных истин",
                    text:
                        "Во время марафона, не будет обычных рекомендации, которые можно найти в интернете. Методика разроботана лично мной и я уверена в ней на все 100 процентов. Удачина марафоне))"
                }
            ]
        };
    }
};
</script>
<style src="./will-not.less" lang="less"></style>
