<template>
  <div class="menu">
    <div class="menu__icon" @click="openMenu()" :class="{ active: isActive }">
      <span></span>
    </div>
    <div class="header__orientation">
      <nav class="menu__body" :class="{ active: isActive }">
        <ul class="menu__list">
          <li>
            <a data-goto=".page__section_1" class="menu__link" href="#"
              >О марафоне</a
            >
          </li>
          <li>
            <a data-goto=".page__section_2" class="menu__link" href="#"
              >Как проходит</a
            >
          </li>
          <li>
            <a data-goto=".page__section_3" class="menu__link" href="#"
              >Что получите</a
            >
          </li>
          <li>
            <a data-goto=".page__section_4" class="menu__link" href="#"
              >Отзывы</a
            >
          </li>
          <!--<li>
                        <a
                            data-goto=".page__section_5"
                            class="menu__link"
                            href="#"
                            >Цены</a
                        >
                    </li>-->
        </ul>
        <div class="header__login-mob" @click="$emit('open-login')">
          <account-ico></account-ico>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isActive: false,
    };
  },
  methods: {
    openMenu() {
      if (this.isActive) {
        this.isActive = false;
        document.body.classList.remove("lock");
      } else {
        this.isActive = true;
        document.body.classList.add("lock");
      }
    },

    onMenuLinkClick(e) {
      const menuLink = e.target;
      if (
        menuLink.dataset.goto &&
        document.querySelector(menuLink.dataset.goto)
      ) {
        const gotoBlock = document.querySelector(menuLink.dataset.goto);
        const gotoBlockValue =
          gotoBlock.getBoundingClientRect().top + pageYOffset;

        this.isActive = false;
        document.body.classList.remove("lock");

        window.scrollTo({
          top: gotoBlockValue,
          behavior: "smooth",
        });
        e.preventDefault();
      }
    },
  },

  mounted() {
    const menuLinks = document.querySelectorAll(".menu__link[data-goto]");
    if (menuLinks.length > 0) {
      menuLinks.forEach((menuLink) => {
        menuLink.addEventListener("click", this.onMenuLinkClick);
      });
    }
  },
};
</script>

<style src="./menu.less" lang="less"></style>
