@import '../../styles/helpers';

.menu {
    &__icon {
      display: none;
    }

    &__list {
      display: flex;

      li {
        margin-right: 45px;

        &:last-child {
          margin: 0;
        }

      }
    }

    &__link {
      line-height: 19px;
      color: #6f6f6f;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }


  //Меню бургер
  @media @tablet {

    .menu__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
    }

    .menu__icon::before {
      position: absolute;
      right: 0;
      height: 20%;
      width: 28px;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      border-radius: 10px;
    }

    .menu__icon::after {
      right: 0;
      position: absolute;
      height: 20%;
      width: 18px;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      border-radius: 10px;
    }

    .menu__icon::before,
    .menu__icon::after {
      content: "";
    }

    .menu__icon::before {
      top: 1px;
      background-color: black;
    }

    .menu__icon::after {
      bottom: 3px;
      background-color: black;
    }

    .menu__icon.active::before {
      top: 46%;
      width: 100%;
      transform: rotate(-45deg) translate(0px, -50%);
      background-color: black;
    }

    .menu__icon.active::after {
      bottom: 50%;
      width: 100%;
      transform: rotate(45deg) translate(0px, 50%);
      background-color: black;
    }

    .menu__body::before {
      content: "";
      transition: all 0.9ms;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 98px;
      background-color: #fff5f5;
      z-index: 2;
    }

    .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 40px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
    }

    .menu__body.active {
      left: 0;
    }

    .menu__body {
      margin-top: 98px;
    }

    .menu__list {
      flex-direction: column;
    }

    .menu__list > li {
      margin: 0px 0px 45px 0px;
      text-align: center;
    }

    .menu__list > li:last-child {
      margin-bottom: 0;
    }

    .menu__list > li._active {
      display: block;
    }

    .menu__link {
      font-size: 24px;
      font-weight: 500;
      color: #6f6f6f;
    }
  }
