<template>
    <div class="not-found">
        <div class="not-found__content">
            <p class="not-found__text">Ничего не найдено</p>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style src="./not-found.less" lang="less"></style>
