@import '../../styles/helpers';

.not-found {
    background: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    &__content {
      background: #fff;
      padding: 25px 30px;
      text-align: center;

      @media @mobile-mid {
        padding: 15px 20px;
      }
    }

    &__text {
      font-size: 40px;
      text-transform: uppercase;
      line-height: 50px;

      @media @mobile-mid {
        font-size: 32px;
      }
    }
  }
