<template>
  <transition name="fade-header">
    <header class="header" ref="header" v-show="show">
      <div class="header__container container">
        <div class="header__logo">
          <img
            :src="getStaticUrl('logo.svg')"
            alt=""
            class="header__logo-img"
          />
        </div>
        <div class="header__menu">
          <menu-block></menu-block>
        </div>
        <!--<div class="header__login" @click="$emit('open-login')">
                    <account-ico></account-ico>
                </div>-->
      </div>
    </header>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      lastScroll: null,
      show: true,
    };
  },
  methods: {
    scrollPosition() {
      let result = window.pageYOffset || this.$refs.header.scrollTop;
      return result;
    },

    scrollHandler() {
      this.scrollPosition();

      if (
        this.scrollPosition() > this.lastScroll &&
        this.scrollPosition() > 150
      ) {
        this.show = false;
      } else if (this.scrollPosition() < this.lastScroll) {
        this.show = true;
        this.$refs.header.style.background = "rgba(255, 255, 255, 0.9)";
        if (this.scrollPosition() === 0) {
          this.$refs.header.style.background = "#FCF7F4";
        }
      }
      this.lastScroll = this.scrollPosition();
    },
  },
  mounted() {
    window.addEventListener("scroll", this.scrollHandler);
  },
  destroyed() {
    window.removeEventListener("scroll", this.scrollHandler);
  },
};
</script>

<style src="./header.less" lang="less"></style>
