@import '../../styles/helpers';

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fcf7f4;
    transition: all 0.5 ease;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 98px;
    }

    &__logo {
      z-index: 2;
    }

    &__orientation {
      display: flex;
    }

    &__login-mob {
      display: none;

    @media @tablet {
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }
    }

    &__login {
      z-index: 6;

      @media @tablet {
        display: none;
      }
    }

  }


.fade-header-enter-active {
    transition: all .3s ease;
  }

  .fade-header-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .fade-header-enter, .fade-header-leave-to {
    transform: translateY(-100%);
    opacity: 0;
  }
