@import '../../styles/helpers';

.policy {
    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;

        @media @mobile-mid {
            padding: 10px;
        }
    }

    &__title {
        text-align: center;
        background: #fe9519;
        font-size: 32px;
        padding: 25px 0;
        margin-bottom: 30px;

        @media @mobile-mid {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__text {
        margin-bottom: 40px;
        @media @mobile-mid {
            margin-bottom: 30px;
        }
    }

    &__paragraph {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 28px;

        &_bold {
            font-weight: 600;
        }
    }

    &__back {
        padding: 15px 5px;
        background: #fe9519;
        max-width: 200px;
        text-align: center;
        margin: 0 auto;
        border-radius: 15px;
        color: white;
        display: block;

        @media @mobile-mid {
            max-width: 100%;
        }
    }
}
